*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*:before,*:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	max-width: 1360px;
	margin: 0 auto;
	line-height: 24px;
	font-size: 16px;
	font-family: sans-serif;

}

/*над хидером start*/

.before-header-wr{
	background-color: #4cb1ca;
	
	font-size: 14px;
	font-weight: normal;
	color: white;

}
select{
	background-color: #4cb1ca;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: normal;
	border: none;
	color: white;

}
.before-header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 16px 15px;

}
.before-header-left{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.currency{
	margin-left: 15px;
}



.before-header-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	
}
.before-header-right a{
	text-decoration: none;
	color: white;
	line-height: 10px;
}
.before-header-right a:hover{
	color: black;
}

.account,
.wishlist,
.checkout,
.login,
.signup{
	
	padding: 0px 15px;
	border-right: 1px solid white;
}
.signup{
	border-right: none;
	padding-right: 0;
}

/*end*/

/*header start*/
.header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 20px 15px;
	
}
.header-left{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-basis: 50%;

}
.header-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.header-logo{
	font-size: 36px;
	font-weight: bold;
	font-family: sans-serif;
	color: #656565;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.header-nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	margin-right: auto;
	padding-left: 60px;
}
.home,
.women,
.men,
.other,
.purchase{
color: #656565;
font-size: 14px;
font-weight: bold;
padding: 0 10px;
}
.header-search{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-right: 20px;
	position: relative;

}
.search{
	width: 200px;
	height: 30px;
}
.search-ico{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
	height: 20px;
	background-color: white;
	border: none;
}
.search-ico img{
	width: 130%;
}
.header-cart{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;

}
.actions-ico{
	background-color: #7db122;	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-right: 10px;



}
.cart-ico{

	background-color: #7db122;	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}
.cart-fill{
	padding-left: 14px;
	color: #656565;
	font-size: 14px;
	font-weight: bold;
}
.cart-fill-count{
	color: #656565;
	font-size: 14px;
	font-weight: bold;
}

/*end*/

/*preview start*/
.preview-wr{
	
	background-image: url(../img/preview-img.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}
.preview{
	position: relative;
	
	
}
.preivew-text{

	
	
	padding-top: 190px;
	padding-left:50px;
	padding-bottom: 190px;
}
.preivew-text-up{
	max-width: 285px;
	padding: 15px;
	background-color: #4d4d46;
	color: #ffffff;
	font-size: 30px;
	opacity: 0.8;
	
}
.preivew-text-down{
	max-width: 330px;
	padding: 15px;
	background-color: #4d4d46;
	opacity: 0.8;
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;

}
.preview-left-btn{
	position: absolute;
	top: 43%;
	right: 100%;
	color: #cdcdcd;
	background-color: #fff;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: center;


}
.preview-right-btn{
	position: absolute;
	top:43%;
	left:100%;
	color: #cdcdcd;
	background-color: #fff;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: center;

}

/*end*/

/* main start  */
.featured-products-text{
	font-size: 24px;
	
}
.featured-products{
	display: flex;
}


/* end */