*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*:before,*:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	max-width: 1024px;
	margin: 0 auto;
	line-height: 24px;
	font-size: 16px;
	font-family: sans-serif;

}

/*над хидером start*/

.before-header-wr{
	background-color: #4cb1ca;
	
	font-size: 14px;
	font-weight: normal;
	color: white;

}
select{
	background-color: #4cb1ca;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: normal;
	border: none;
	color: white;

}
.before-header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 16px 15px;

}
.before-header-left{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.currency{
	margin-left: 15px;
}



.before-header-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	
}
.before-header-right a{
	text-decoration: none;
	color: white;
	line-height: 10px;
}
.before-header-right a:hover{
	color: black;
}

.account,
.wishlist,
.checkout,
.login,
.signup{
	
	padding: 0px 15px;
	border-right: 1px solid white;
}
.signup{
	border-right: none;
	padding-right: 0;
}


/*end*/

/*header start*/
.header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 20px 15px;
	
}
.header-left{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-basis: 50%;


}
.header-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.header-logo{
	font-size: 36px;
	font-weight: bold;
	font-family: sans-serif;
	color: #656565;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	min-width: 200px;
}
.header-nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	margin-right: auto;
	padding-left: 20px;
}
.home,
.women,
.men,
.other,
.purchase{
	color: #656565;
	font-size: 14px;
	font-weight: bold;
	padding: 0 10px;
}
.nav-a{
	text-decoration: none;
	color: #656565;
}
.header-search{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-right: 20px;
	position: relative;

}
.search{
	width: 200px;
	height: 30px;
}
.search-ico{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
	height: 20px;
	background-color: white;
	border: none;
}
.search-ico img{
	width: 130%;
}
.header-cart{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;

}
.header-cart a{
	line-height: 0px;
	border:none;
}
.actions-ico{
	background-color: #7db122;	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-right: 10px;



}
.cart-ico{

	background-color: #7db122;	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}
.cart-fill{
	padding-left: 14px;
	color: #656565;
	font-size: 14px;
	font-weight: bold;
}
.cart-fill-count{
	color: #656565;
	font-size: 14px;
	font-weight: bold;
}

/*end*/

/*preview start*/
.preview-wr{
	
	background-image: url(../img/preview-img.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}
.preview{
	position: relative;
	
	
}
.preivew-text{

	
	
	padding-top: 190px;
	padding-left:50px;
	padding-bottom: 190px;
}
.preivew-text-up{
	max-width: 285px;
	padding: 15px;
	background-color: #4d4d46;
	color: #ffffff;
	font-size: 30px;
	opacity: 0.8;
	
}
.preivew-text-down{
	max-width: 330px;
	padding: 15px;
	background-color: #4d4d46;
	opacity: 0.8;
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;

}
.preview-left-btn{
	position: absolute;
	top: 43%;
	right: 100%;
	color: #cdcdcd;
	background-color: #fff;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: center;


}
.preview-right-btn{
	position: absolute;
	top:43%;
	left:100%;
	color: #cdcdcd;
	background-color: #fff;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: center;

}

/*end*/

/* main start  */

.featured-products-text{
	padding: 50px 0 25px 0 ;
	font-size: 24px;
	font-family: sans-serif;
	color: #656565;
}
.main-content{
	display: flex;
	justify-content: space-between;
}
.main-content-left{
	max-width: 757px;
}
.featured-products,
.staff-picks ,
.new-products{
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}
.featured-product,
.staff-pick ,
.new-product{
	max-width:233px ;
	background-color: #eff1f0;
	
}

.main-content-right{
	max-width: 233px;
}
.featured-glass{
	position: relative;	
}
.check-it-out{
	color:#fff;
	position: absolute;
	left:22%;
	top:370px;
	border:none;
	background-color: #4cb1ca;
	width: 134px;
	height: 35px;
}
.check-it-out:hover{
	cursor:pointer;
}
.points{
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
}
.one-point{
	padding: 5px;
}
.newsletters-signup{
	padding-top: 30px;
}
.newsletters-signup-name{
	font-size: 24px;
	font-family: sans-serif;
	color: #656565;
	text-align: center;
}
.newsletters-signup-description{
	font-size: 14px;
	color: #656565;
	text-align: center;
	padding-top: 30px;

}
.newsletters-signup-input{
	width:185px;
	height: 30px;
}
.newsletters-signup-input-t{
	display: flex;
	justify-content:center;
	padding-top: 30px;
}

.newsletters-signup-btn{
	display: flex;
	justify-content:center;
	padding-top: 20px;
}
.Subscribe-btn{
	color:#fff;
	background-color: #7eb123;
	height: 45px;
	width: 110px;
	border:none;
}
.Subscribe-btn:hover{
	cursor:pointer;
}

/* end */


/* f middle start */


.f-middle-wr{
	background-color: #4cb1ca;
}
.footer-up{
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
}
.up-left , .up-right{
	
	min-width: 494px;
	display: flex;
	align-items: center;
}
.left-icon, .right-icon{
	margin-right: 22px;
	background-color: #fff;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: center;
	

}
.left-text, .right-text{
	font-size: 22px;
	color: #fff;
}


/* end */


/* f start */

.footer-wr{
	background-color: #39a0b9;
}
.footer-middle{
	display: flex;
	justify-content: space-between;
}
.middle-name{
	color:#fff;
	font-size: 20px;
	padding-top: 50px;
	padding-bottom: 30px;
}
.middle-members{
	color:#fff;
	font-size: 14px;
	padding-bottom: 10px;
}
.like-btn{
	background-color: #fff;
	width: 46px;
	height: 23px;
	border:none;
	border-radius:25%;
	margin-bottom: 15px;

}
.like-btn :hover{
	cursor: pointer;
}
.middle-card{
	
	max-width: 236px;
}
.middle-pics{
	
	display: flex;
	flex-wrap: wrap;
}
.middle-pic img{
	padding: 5px 15px 5px 0px;
	width: 50px;
	height: 50px;
}
.middle-text-facebook{
	padding-top: 25px;
	font-size: 14px;
	padding-bottom: 60px;
	color:#fff;
}
.middle-card-2-up, .middle-card-2-down{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-bottom: 30px;	
	color: #fff;
}
.up-pic, .down-pic{
	padding-right: 10px;
}
.up-pic img{
	max-width: 50px;
}
.down-pic img{
	max-width: 50px;
}
.inf-list{
	color: #fff;
}
.cont-text{
	color:#fff;
}
.cont-icons img{
	max-width: 40px;
}
.cont-icons{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 35px;
}


/* end */


/* f down start */
.f-down-wr{
	background-color: #0b4b5a;
}
.footer-down{
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}
.down-left{
	color:#39a0b9;
}
.down-right{
	display: flex;
	justify-content: space-between;
}
.right-link{
	padding: 0px 15px;
	border-right: 1px solid #39a0b9;
	color:#39a0b9;
}
.down-right a{
	text-decoration: none;
	color:#39a0b9;
	line-height: 10px;
}
.link-right{
	border-right: none;
	padding-right: 0;
}

/* end */